:root
{
    --main-color: #d90429;
    --text-color: #020102;
    --bg-color: #fff;
}
section
{
    padding: 4rem 0 2rem;
}
img
{
width: 100%;
}
body
{
    color: var(--text-color);
}
.container
{
    max-width: 1068%;
    margin-left: auto;
    margin-right: auto;
}
header
{
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.nav
{
    display: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
}
#menu-icons
{
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}
.logo
{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--text-color);
}
.logo span
{
    color: var(--main-color);
}
.navbar
{
    display: flex;
    column-gap: 1rem;
}
.navbar a
{
    color: var(--text-color);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar a:hover ,.navbar .active
{
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}
#search-icon
{
    font-size: 24px;
    cursor: pointer;
    color: var(--bg-color);
}
.search-box
{
    position: absolute;
    top: 110%;
    right: 0;
    left: 0;
    background-color: var(--bg-color);
    box-shadow: 4px 4px 20px rgb(15, 54, 55 /10%);
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    
}
.search-box.active{
   clip-path: circle(144% at 100% 0%);
   transition: 0.4s;
}
.search-box input
{
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 1rem;
}
.home
{
    max-width: 1300px;
    margin: auto;
    width: 100%;
    min-height: 640px;
    display: flex;
    align-items: center;
    background: url(waldemar-brandt-kYbYIWdJRh0-unsplash.jpg);
    
    background-size: cover;
    background-position: center-left;
}
.home-text
{
    padding-left: center;
}
.home-text h1
{
    font-size: 2.4rem;
}
.home-text span
{
    color: var(--main-color);
}
.home-text p
{
 font-size: 0.938rem;
 font-weight: 300;
 margin: 0.5rem 0 0.1rem;
}
.btn
{
    padding: 10px 22px;
    background: var(--main-color);
    font-weight: 400;
}
.btn:hover
{
    background: var#fd052f;
}
.heading
{
   text-align: center;
}
.heading span
{
    font-weight: 500;
    color: var(--main-color);
}
.heading p
{
    font-size: 0.938rem;
    font-weight: 300;
}
