@import url();
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
  body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #222;
  }
  
  .main {
    width: 1170px;
    margin: 100px auto;
    font-style: italic;
    font-size: x-large;
  }
  .section-title {
    text-align: center;
    margin-bottom: 80px;
  }
  .section-title h2 {
    text-transform: capitalize;
    font-size: 35px;
    position: relative;
    display: inline-block;
    padding-bottom: 20px;
    margin-bottom: 10px;
  }
  .section-title h2:before {
    content: "";
    position: absolute;
    width: 60px;
    height: 3px;
    background-color: #00875c;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .menus {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .menu-column {
    width: 31%;
  }
  .menu-column h4 {
    text-transform: capitalize;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 10px;
  }
  .menu-column h4:before {
    content: "";
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: #00875c;
    bottom: 0;
  }
  .single-menu {
    display: flex;
    align-items: center;
    margin-top: 40px;
  }
  .single-menu img {
    border-radius: 50%;
    max-width: 600px;
    border: 1px dashed #ddd;
    padding: 3px;
    margin-right: 15px;
    transition: .3s;
  }
  .single-menu:hover img{
      transform: rotate(360deg);
  }
  .single-menu .menu-content h5 {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px dashed #222;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  .single-menu .menu-content h5 span {
    color: tomato;
    float: right;
    font-weight: 600;
    font-style: italic;
  }

  *{
      margin: 0;
      padding: 0;
      scroll-padding-top: 1rem;
      scroll-behavior: smooth;
      list-style: none;
      text-decoration: none;
      box-sizing: border-box;
  }
  
  :root
  {
      --main-color: #d90429;
      --text-color: #020102;
      --bg-color: #fff;
  }
  section
  {
      padding: 4rem 0 2rem;
  }
  img
  {
  width: 100%;
  }
  body
  {
      color: var(--text-color);
  }
  .container
  {
      max-width: 1068%;
      margin-left: auto;
      margin-right: auto;
  }
  header
  {
      display: block;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
  }
  .nav
  {
      display: fixed;
      align-items: center;
      justify-content: space-between;
      padding: 500px 500px;
  }
  .menu-icons
  {
      font-size: 100px;
      cursor: pointer;
      color: var(--text-color);
      display: none;
  }
  .logo
  {
      font-size: 3rem;
      font-weight: 1000;
      color: var(--text-color);
  }
  .logo span
  {
      color: var(--main-color);
  }
  .navbar
  {
      display: flex;
      column-gap: 1rem;
      padding: 30px 30px;
      margin: auto;
  }
  .navbar a
  {
      color: var(--text-color);
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 500;
  }
  .navbar a:hover ,.navbar .active
  {
      color: var(--main-color);
      border-bottom: 3px solid var(--main-color);
  }
  
  
  .home
  {
      max-width: 1300px;
      margin: auto;
      width: 100%;
      min-height: 640px;
      display: flex;
      align-items: center;
      background: url();
      
      background-size: cover;
      background-position: center-left;
  }
  .home-text
  {
      padding-left: center;
  }
  .home-text h1
  {
      font-size: 2.4rem;
  }
  .home-text span
  {
      color: var(--main-color);
  }
  .home-text p
  {
   font-size: 0.938rem;
   font-weight: 300;
   margin: 0.5rem 0 0.1rem;
  }
  .btn
  {
      padding: 10px 22px;
      background: var(--main-color);
      font-weight: 400;
  }
  .btn:hover
  {
      background: var#fd052f;
  }
  .heading
  {
     text-align: center;
  }
  .heading span
  {
      font-weight: 500;
      color: var(--main-color);
  }
  .heading p
  {
      font-size: 0.938rem;
      font-weight: 300;
  }
    


  @import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
	background-color: #eef4fc;	
}

.social {
	margin: 0 auto;
	width: 300px;
	text-align: center;
	padding: 10px;
  margin: 10;
  background-color: rgb(44, 209, 143);
  
}

.social h2 {
	color: #150c10;
	font-size: 18px;
	font-family: 'PT Sans', sans-serif;
  font-style: italic;
}

[class^="icon-btn"] /*.icon-btn*/ {
	height: 75px;
	width: 75px;
	border: 0;
	color: #fff;
	cursor: pointer;
	font-size: 40px;
	line-height: 75px;
	transition: ease-in-out .3s;
	border-radius: 50px;
	margin-left: 10px;
	background-color: #fff;
}

.twitter {
	color: #4099FF;
}

.facebook {
	color: #3B5998;
}
.google-plus {
	color: #DB5A3C;
}

.instagram {
	color: #5C3D2E;
}



.icon-btn:hover {
	transform: scale(1.10);	
	color: #FFFFFF;
}

.twitter:hover {
	background-color: #4099FF;	
}

.facebook:hover {
	background-color: #3B5998;	
}

.google-plus:hover {
	background-color: #DB5A3C;	
}

.instagram:hover {
	background-color: #5C3D2E;	
}

.github:hover {
	background-color: #4183C4;	
}

a.link {
	color: inherit;	
}



.text{
  background-color: #d43ad4;
  color: #ece5da;
  font-style:normal;
  margin: 0;
    padding: 0;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}



body {
  background: #ece5da;
  font-family: "Raleway", sans-serif;
  color: ivory;
  font-size: 20px;
}

nav {
  margin: auto;
  margin-top: 40px;
  position: relative;
  width: clamp(320px, 50vw ,100%);
}

nav h2 {
  font-size: 1.5rem;
  border-radius: 2px;
  position: relative;
  background: tomato;
  height: 40px;
  text-transform: uppercase;
  margin-bottom: 0;
  color: inherit;
  font-weight: 200;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, 0.35);
  transition: all 0.4s;
}

nav:hover h2 {
  transform: translateY(-2px);
  box-shadow: 2px 2px 5px -1px rgba(0, 0, 0, 0.35);
  
}

#toggle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  height: 40px;
}

h2::before{
  position: absolute;
  right: 0;
  top: 0;
  height: inherit;
  aspect-ratio: 1;
  background: currentColor;
  display: flex;
  align-items: center;
  padding-right: 1rem;
  content: "";
  clip-path: polygon(50% 25%, 20% 80%, 80% 80%);
  transform: rotate(180deg) scale(0.75);
}

#toggle:not(:checked) ~ h2::before {
  transform: rotate(0deg) scale(0.75);
}

#toggle:focus ~ h2{
  background: mediumorchid;
  transition: background 0.45s;
}

#toggle:checked ~ ul {
  visibility: hidden;
  opacity: 0;
}

#toggle:not(:checked) ~ ul {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}


nav ul {
  padding-left: 0;
  padding-top: 1rem;
  margin-top: 0;
  background: #ece5da;
  list-style: none;
  overflow: hidden;
  text-align: right;
  text-align: center;
  transition: all 0.4s ease-out;
  width: 100%;
  position: absolute;
}
nav ul li {
  border-radius: 2px;
  position: relative;
  display: inline-block;
  line-height: 1.5;
  width: 100%;
  margin: 0 0 0.25rem 0;
  background: tomato;
  transition: background 3s;
  box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.35);
}

nav ul li:hover,
nav ul li a:focus {
  background: mediumorchid;
  transition: background 0.45s;
}

nav ul a {
  display: block;
  color: inherit;
  text-transform: lowercase;
  font-weight: 200;
  text-decoration: none;
}


.container {
  max-width: 55ch;
  margin: auto;
  color: #36454F;
}




.container5{
  color:#150c10;
  background: #3B5998;
  background-color: #55ebca;
  font-size: 16px;
  font-style:italic;
  padding: 3%;
  margin: 0%;
  lighting-color: #4099FF;
  max-width: 100%;
  max-height: 50cm;
 
}

.float-button {
  text-decoration: nonae;
  position: fixed;
  padding: 10px;
  padding-right: 15px;
  bottom: 30px;
  right: 30px;
  color: #fff;
  background-color:#25D366;
  border-radius: 25px 30px 5px 25px;
  z-index: 100;
  font-family: Arial;
  font-size: 17px;
  animation: whatsapp-animation 0.5s ease-in-out;
  box-shadow: 1px 2px 5px 2px rgba(132, 52, 52, 0.3);
  transition:all 0.3s ease-out;
}

.float-button:hover {
   background-color: #128C7E;
    color: #fff;
}

.fa-whatsapp {
  font-size: 20px !important;
  padding-right: 5px;
  padding-left: 5px;
}
@keyframes whatsapp-animation {
    from {
        opacity: 0%;
    }
  
    to {
        opacity: 100%
    }
  }
  
  @media screen and (max-width: 545px) {
    span {
        display: none;
    }
  
    .float-button {
        bottom: 15px;
        right: 15px;
        width: 20px;
        border-radius: 20px 20px 5px 20px;
    }
  
    .fa-whatsapp {
        font-size: 22px !important;
        padding: 4px;
    }
  }
  /* NEW CODE FOR CONTACT*/
  /* color:  red#ec1c24, black#212d31, grey#343a40, white#eee  */
  * {
    box-sizing: border-box;
  }
  
  body {
    padding: 1rem;
    color: #212d31;
    font-family: 'Roboto', sans-serif;
  }
  
  .contain {
    background-color: #eee;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }
  
  
  .form-headline:after {
    content: "";
    display: block;
    width: 10%;
    padding-top: 10px;
    border-bottom: 3px solid #ec1c24;
  }
  
  .highlight-text {
    color: #ec1c24;
  }
  
  .hightlight-contact-info {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.5;
  }
  
  .highlight-text-grey {
    font-weight: 500;
  }
  
  .email-info {
      margin-top: 20px;
  }
  
  /* new code*/
  
  
  
  .float-button
  {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .hightlight-contact-info
  {
    font-family:'Pacifico';
  }
  
  
  
  
  /* NEW CODE*/

  html, body{
    height:100%;
  }
  div.section {
    background-color: CadetBlue;
    height:100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  img {
    height: 100%;
    margin: 0 auto;
    border-radius: 50%;
    display: block;
    margin: auto;
    border: 5px solid white;
  }
  
  div.section1 {
    height: 300px;
    overflow: hidden;
  }
  
  div.section1 div:nth-child(1) {
    width: 30%;
    height: 80%;
    float: left;
    overflow: visible;
  }
  
  div.section1 div:nth-child(2) {
    padding-top: 9px;
    width: 70%;
    height: 50%;
    float: left;
    overflow: hidden;
  }
  
  div.section1 div:nth-child(2) img {
    float: left;
    height: 95%;
    margin: 5px auto;
    border-radius: 50%;
    border: 2px solid white;
  }
  
  div.section1 div:nth-child(3) {
    background-color: white;
    color: white;
  }
  
  div.section1 div:nth-child(4) {
    height: 30%;
    float: none;
    padding: 24px;
    color: white;
    background-color: brown;
    font-family: "Lucida Console", Monaco, monospace;
  }
  
  
  
  
